<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Пользователи</title>
</head>
<body>
  <div th:each="blog: ${blogs}">
    <h2 th:text="${blog.getTitle()}">TITLE</h2>
    <p th:text="${blog.getContent()}">CONTENT</p>

    <br/>
    <form th:action="@{/api/v1/comment/with-blogs/{userId}/{blogId}(userId = ${userId}, blogId = ${blog.getBlogId()})}" th:method="GET">
      <button type="submit">Комментарии</button>
    </form>

    <br/>
    <div th:if="${itsMe}">
      <form th:action="@{/api/v1/blog/{userId}/{blogId}(userId = ${userId}, blogId = ${blog.getBlogId()})}" th:method="DELETE">
        <input type="hidden"
               name="${_csrf.parameterName}"
               value="${_csrf.token}"/>
        <button type="submit">Удалить</button>
      </form>
    </div>
  </div>


<!--  Создание записи на странице пользователя-->
  <br/>
  <div th:if="${itsMe}">
    <form th:action="@{/api/v1/blog/{userId}/add-blog(userId = ${userId})}" th:method="GET">
      <button type="submit">Создать</button>
    </form>
  </div>
  <br/>
<!--  Выйти из аккаунта-->
  <form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
  </form>
</body>
</html>