<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <title>Spring Security Example </title>
</head>
<body>
  <form th:action="@{/api/v1/auth/register}" th:method="POST" th:object="${request}">
    <label for="username">Имя пользователя: </label>
    <input type="text" th:field="*{username}" id="username">
    <br/>

    <label for="password">Пароль: </label>
    <input type="text" th:field="*{password}" id="password">
    <br/>

    <label for="email">Почта: </label>
    <input type="text" th:field="*{email}" id="email">
    <br/>

    <button type="submit">Создать</button>
  </form>
</body>
</html>